body {
    background-color: #fcf5c7; /* Pastel Beige */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f6ac69; /* Orange */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: flex-start; /* Align tabs to the top left corner */
    padding-left: 20px; /* Add some padding for better spacing */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    padding: 50px;
    text-align: center; /* Center-align content in one column */
}

img {
    max-width: 100%; /* Adjust the image width to fit the column */
    height: auto;
    border-radius: 5%;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: black;
    max-width: 400px;
    margin: 0 auto 20px; /* Center-align paragraphs and add margin */
}
