body {
    background-color: #F5DEB3; /* Squash-colored beige */
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-photo {
    max-width: 100px; /* Adjust the size as needed */
    margin-right: 10px; /* Add a small gap between the photo and the header text */
}

.content-section {
    margin-left: 20px; /* Add a left margin to the content section */
}
/* Add more CSS styles as needed */
