body {
    background-color: #F5DEB3; /* Squash-colored beige */
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    align-items: center;
}

/* Add more CSS styles as needed */
